.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
}

.navbar .logo {
    width: max(10%,80px);
}

.navbar .profile {
    width: 40px;
    border-radius: 50%;
}